@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {

    position: none;
    background-color: $color-secondary;
    &__inner {
        position: relative;
        padding: 25px 20px 20px;
        
    }
}

@include breakpoint-sm {
    .sidebar {
        position: fixed;
        lost-column: 4/12;
        &__inner {
            padding: 30px 20px 0;
            
            &:after {
                
                //background: $color-gray-border;
                //background: linear-gradient(to bottom, $color-gray-border 100%, $color-gray-border 100%, $color-white 100%);
                position: absolute;
                content: '';
                width: 1px;
                height: 100%;
                top: 30px;
                right: -12px;
                bottom: 0;
            }
        }
    }
}

@include breakpoint-md {
    .sidebar {
        position: absolute;
        position: fixed;
        height: 100%;
        top: 0px;
        left: 0px;
        margin-bottom: 20px;
        lost-column: 4.5/12;
        &__inner {
            padding: 40px 60px 40px 100px;

        }
    }
}
