@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  @include margin-bottom(1);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    &-item {
      padding: 0;
      margin: 10px 0;

      &-link {
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
        font-weight: 700;
        border: 0;
        padding: 2px;

        &:hover,
        &:focus {
          color: $color-primary;
          
          color: $color-white;
          background-color: $color-base;
        }

        &--active {
          color: $color-base;
          
          background-color: $color-base;
          color: $color-white;
          
        }

      }

    }

  }

}

@include breakpoint-sm {
  .menu__list {
    text-align: left;
}
}